<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Simple Message</h1>
    <form action="/new" method="POST">
      <div>
        <label for="user">User : </label>
        <input type="text" name="user" id="user" />
      </div>
      <div>
        <label for="text">Text : </label>
        <input type="text" name="text" id="text" />
      </div>
      <button type="submit">Send</button>
    </form>
    <h3>All messages</h3>
    <% if(messages.length > 0){ %>
    <div class="box">
      <% messages.forEach(message => { %>
      <div class="msg">
        <p class="user"><%= message.user %></p>
        <p class="text"><%= message.text %></p>
        <p class="date"><%= message.added %></p>
      </div>
      <%}); %>
    </div>
    <% } else { %>
    <p>No messages till yet</p>
    <% } %>
  </body>
</html>
